.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($main-color,.6);
    z-index: 2;
   }
video{
  width:100%;
  height: 250px;
}

header{
 .top-bar{
  background-color: $secondary-color;
  padding: 7px 0 0px 0;
  overflow: hidden;
  position: relative;
  z-index: 9;
  .top-bar-left{
   margin: 3px 0;
   text-align: center;
   ul{
    li{
     a{
      color: #FFF;
      padding: 0px 2px;
      i{
       width: 22px;
       height: 22px;
       line-height: 22px;
       background-color: #0088cc;
       margin-right:5px;
       text-align: center;
       font-size: 14px;
      }
     }
    }
   }
  }
  .top-bar-right{
   text-align: center;
   ul{
    li{
     a{
      width: 30px;
      height: 30px;
      line-height:30px;
      display: block;
      color: $background-color;
      text-align: center;
      border: 2px solid $border-color;
      border-radius: 50%;
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      &:hover{
       background-color:$secondary-color;
       border-color: $secondary-color;
      }
     }
     &:last-child a{
      border: 0;
      &:hover{
       text-decoration: underline;
       background-color: transparent;
      }
     }
    }
   }
  }
  &:before{
   position: absolute;
   right: -100px;
   top: 0px;
   content: " ";
   width: 100%;
   height: 130%;
   background-color: $main-color;
   transform: skew(125deg);
   z-index: -9;
  }
 }
 .navigation{
  .navbar{
   padding: 0 1rem;
   line-height: 1.52;
   .active{
    color: $third-color;
   }
   .navbar-brand{
    margin-bottom: 10px;
    img{
     width: 100%;
    }
   }
   .nav-item{
    padding: 0 20px;
    .nav-link{   
     color: $text-color;
     font-size: 18px;
     padding: 14px 14px;
     -webkit-transition: .7s;
     -moz-transition: .7s;
     -o-transition: .7s;
     transition: .7s;
     &:hover{
      color: $third-color;
     }
    }
   }
   li.active > a{
    color: $third-color;
   }
  }
  .dropdown-menu{
   border: 0;
   color: #000;
   border-radius: 0;
   margin-top: 14px;
   background-color: $secondary-color;
   a{
    color: #FFF;
    font-size: 14px;
    padding: 8px 12px;
    transition: background-color .5s;
    &:hover,&:active,&:focus,&:visited{
     background-color: $main-color;
     color: #FFF;
     }
   }
  }
 }
 .navbar-light .navbar-nav .active>.nav-link,
 .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link{
  color: $third-color;
 }
}
.why-us{
 background-color: $background-color;
 .about-wrap{
  background-color: #FFF;
  ul{
   padding: 30px 20px 20px 20px;
   overflow: hidden;
   li{
    margin-bottom: 20px;
    img{
     width: 100%;
    }
   }
  }
  
  h2, .footor-why-us{
   background-color: $main-color;
   color: #FFF;
   padding: 10px 35px;
   width: 100%;
   display: block;
   text-align: center;
    font-size: 30px;
   -webkit-transition: .7s;
   -moz-transition: .7s;
   -o-transition: .7s;
   transition: .7s;
   &:hover{
    background-color:$third-color;
   }
  }
 }
 .whyUs-details{
  padding: 40px 0;
  
  .whyUs-info{
   line-height: 30px;
   
  }
 }
}

.tranparnt{
  padding: 100px 0;
  .vision{

  }
}

.Testimonials { 
  h2{
   color: $third-color;
  }
  .title-seperator{
   margin:20px  auto;
  }
 .slide{
  background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)), url("../img/p31.jpg") fixed center center;
 background-repeat: no-repeat;
   .head{
    padding: 60px 0;
      h2{
        color: #fff;
        font-size: 38px;
       }
     .title-seperator{
      margin: auto;
       }
      }
   .carousel-indicators{
    right: 28%;
    bottom: 0px;
   }   
  .carousel-inner{
   .carousel-item{
    -webkit-transition: .7s;
   -moz-transition: .7s;
   -o-transition: .7s;
   transition: .7s;
    .media{
     padding: 30px 30px;
     width: 90%;
     margin: auto;
     padding-bottom: 30px;
     text-align: center;
     flex-direction: column;
     margin-bottom: 40px;
     background-color: rgba($main-color,.6);
     border: 2px solid $third-color;
      -webkit-transition: .7s;
     -moz-transition: .7s;
     -o-transition: .7s;
     transition: .7s; 
     img{
      display: block;
      
      margin-left:  35%;

     }
     .media-body{
      height:180px;
      h5{
       color: #fff;
       font-size: 30px;
      }
      p{
       color: #fff;
       text-align: justify;
      }
     }
    }
   }
  }
  .carousel-control-next-icon{
    color: $third-color;
  }
 }
}
.alpha-works{
  padding: 100px 0;
  .container{
    .row{
      .step{
        .cont-step{
          .carcal{
            height: 110px;
            width: 110px;
            border-radius: 50%;
            line-height: 110px;
            
            margin: 0px auto 20px;
            color: white;
            background-color: $main-color;

          }
          h2{
            font-size: 30px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.event{
  padding-top: 100px;
  .container{
    h2{
      text-align: center;
      span{
      display: block;
        font-size: 20px;
        margin-top: 10px;
      
    }

    }
    
    
    .row{
      justify-content: space-between;
      padding-left: 10px;
      .sub-event{
        margin-top: 10px;
        /*margin: auto;*/
        margin-bottom: 20px;
        background-color: #f6f6f6;
        padding: 30px 30px;
        transition:all .7s ease-in-out;
        transform-origin: 50% 0;
        text-shadow: rgba(0,0,0, .6);


        .date{
          display: block;
          border-right: 1px solid #fbdada;
          padding: 0 10px;
          p{
            font-size: 20px;
            
          }
          span{
            display: block;
            font-size: 15px;
            margin-top: -25px;
          }
        }
        .address1{
          margin:auto;
          /*text-transform: uppercase;*/
          font-size: 30px;
          color: $main-color;
        }
        .text{
          padding-left: 80px; 
          color: #6f6f6f;
        }
        ul{
          
          li{
            list-style-type: none;
            padding-left: 40px;
            margin-bottom: 10px;
            color: #a6a4a4;

            i{
              padding-right: 20px
            }
          }
        }
        &:hover{
         border: 1px solid $third-color;
          transform: translateY(-4px);
          
        }
      }
    }
  }
}
footer{
  background-color: $main-color;
  color: white;
  padding: 50px 40px;
  box-sizing: content-box;

  
    .row{
      .first{
        h4{
          margin-bottom: 40px;
        }
        a{
          color: white;
          display: block;
          &:hover{
             text-decoration: none;
          }
          .fa-caret-right{
            padding-right: 10px;
          }
        }
        ul{
          margin-top: 20px;
          display: flex;
          text-align: center;
          margin-left: -60px;
          li{
            list-style-type: none;
            a{
              width: 50px;
              height: 50px;
              background-color: transparent;
             
              border-radius: 50%;
               border:2px solid $border-color;
              line-height: 50px;
              margin-left: 10px;
              transition:all .7s ease-in-out;
              &:hover{
                background-color:$secondary-color;
                transform: rotate(360deg);
              }
              i{
                text-align: center;
              }
            }
          }
        }

      }
      .second{
        color: white;
        h4{
          margin-bottom: 60px;
        }
        div{
          width: 270px;
          height: 70px;
          border: 1px solid #fff;
          position: relative;
          margin-bottom: 30px;
          transition:all .7s ease-in-out;
          color: white;
          i{
            background-color: white;
            color: $main-color;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 40px;
            font-size: 25px;
            margin: auto;
            position: absolute;
            left: 40%;
            top: 10px;
            transition:all .7s ease-in-out;
          }
          p{
            position: absolute;
            left: 20%;
            top: 25px;
            display: none;
            font-size: 20px;
            }
          &:hover{
            background-color: white;
            i{
              top: -20px;
              background-color: $main-color;
              color: white;
            }
            p{
              display: block;
              color: #212121;
            }
          }

        }
      }
      .third{
            max-width: 100%;
        h4{
          margin-bottom: 60px;
        }
        a{
          color: white;
          display: block;
          margin-bottom: 15px;
          &:hover{
             text-decoration: none;
          }
          i{
            padding-right: 20px;
          }
        }
        
      }
      .fourth{
        h4{
          margin-bottom: 50px;
        }
        .row{
          margin-bottom: 15px;
          .date{
            width: 50px;
            height: 50px;
            background-color: $third-color;
            text-align: center;
            font-size: 25px;
            span{
              display: block;
              font-size: 13px;
              margin-top: -10px;
              text-transform: uppercase;
            }
          }
          .footer-row{
            h6{
              margin-left: 10px;
            }
            .row{
              .clock{
                margin-left: 30px;
                color: #c5c5c5;
                padding-right: 10px;
                border-right:  1px solid #6f6f6f; 
              }
              .last{
                margin-left: 10px;
                border: 0px;
              }
            }
          }
        }
      }
    }
  
}
/*=========*/
.footor{
 background-color: $main-color;
 .top-footor{
  text-align: center;
  padding: 50px;
  border-top: 1px dashed $third-color;
  border-bottom: 1px dashed $third-color;

  p{ 
   margin-top: 15px;
   color: #fff;
   
  }
 }
 .bottom-footor{

  p{
   padding: 10px 0;
   color: #fff;
   span{
    color: $third-color;
   }
  }
  ul{
    li{
     a{
      width: 30px;
      height: 30px;
      line-height:30px;
      margin: 10px 0;
      display: block;
      color: $background-color;
      text-align: center;
      border: 2px solid $border-color;
      border-radius: 50%;
      -webkit-transition: all .7s;
      -moz-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s;
      &:hover{
        background-color:$secondary-color;
       border-color: $secondary-color;
      }
     }
    
    }
   }
 }
}



  /*===========
  contact-us
  ==========*/


.intro{
 background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)), url("../img/p31.jpg") fixed center center;
 height: 200px;
 color: #fff;
 position: relative;
 h2{
  position: absolute;
  left: 30%;
  top: 30%;
 }
 .Menu{
  position: absolute;
  left: 30%;
  bottom: 0px;
  background-color: rgba(0 , 0 , 0 ,.6);
  ul{
   margin-bottom: 0;
   margin-left: 0;
   padding-left: 0;
   padding: 0 10px;



   li{
    display: inline;
    list-style-type: none;
    margin: auto;
    margin-left: 0;
   }
   .active{
    color: $third-color;
   }
  }
 }
}

.contact-info ul li {
  background: #002147;
  padding: 40px 25px 40px 100px;
  position: relative;
  font-size: 15px;
  color: #fff;
  list-style-type: none;
  &:nth-child(odd) {
    background: #072950;
  }
  span {
    position: absolute;
    left: 25px;
    top: 51%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    &::before {
      font-size: 50px;
    }
  }
}

.form-contact{
 padding: 100px 0;
 h2{
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
 }
 
  input, select{
   width: 100%;
   margin-bottom: 20px;
   padding-left: 10px;
   height: 40px;
   &:focus{
    
   }
  }
  textarea{

   width: 100%;
   margin-bottom: 20px;
   transition: all .7 ;
   height: 150px;
   &:focus{
  
   }
  }
  button{
   width: 170px;
   height: 50px;
   border: 0;
  }
 
 article{
  background-color: $main-color;
  color: #fff;
 }
}

  /*========
  coureses  
  ========*/
.coures{
 background-color: #f2f1f1;
 
 padding-top:100px;
 .coures-group{

  .coures-details{

   h2{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    /*margin-top: 40px;*/
   }
   p{
    color: #6e6e6e;
    padding-bottom: 30px;
   }
   .topices{
    ul{
      padding-bottom: 50px;
     li{
      float: left;
      width: 33.33%;
      list-style-type: none;
      position: relative;
      padding-left: 15px;
      &:before{
           position: absolute;
           left: 0;
           top: 0;
           content: "\f105";
           color: #f1992d;
           font-family: fontawesome;
      }
     }
    }
   }
   button{
    margin: 30px 0;
   }
  }
 }
 article{
  background-color: #fff;
  .serch{
  h2{
   position: relative;
   padding-left: 15px;
   margin: 20px 0;
   text-transform: uppercase;
   &:before{
           position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: #f1992d;
        content: "";
     }
  }
  form{
    .serch-group{
      position: relative;
      width: 100%;
      overflow: hidden;
     input{
     width: 100%;
     margin-bottom: 20px;
     padding-left: 10px;
     height: 40px;

     
     &:focus{
      
     }
    }
    i{
      position: absolute;
      top: 1px;
      right: 16px;
      width: 30px;
      height: 63%;
      padding: 10px;
      background-color: $third-color;
    }
    }
  }
  }
 }
 .topices{
    h2{
   position: relative;
   padding-left: 15px;
   margin: 20px 0;
   text-transform: uppercase;

   &:before{
           position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: #f1992d;
        content: "";
     }
  }
  ul{
    li{

      list-style-type: none;
      position: relative;
      padding-left: 15px;
      font-size: 20px;
      a{
    color: #000;

        &:hover{
          text-decoration:underline;
          color: blue;
        }
        }

      &:before{
           position: absolute;
           left: 0;
           top: 0;
           content: "\f105";
           color: #f1992d;
           font-family: fontawesome;
      }
    }
     .modal{
          .modal-dialog{
            margin: 200px auto;
            .modal-content{
              .modal-header{
                background-color: $secondary-color;
                color: white;
                position: relative;
                overflow: hidden;
                h5{
                  color: white;
                }
                .sek{
                  z-index: 9;
                  overflow: hidden;
                  &:before{
                 position: absolute;
                 right: -100px;
                 top: 0px;
                 content: " ";
                 width: 60%;
                 height: 130%;
                 background-color: $main-color;
                 transform: skew(125deg);
                 z-index: -9;
                }
                }
              }
            }
          }
        }
  }
      }
      .start-date{
        h2{
           position: relative;
           padding-left: 15px;
           margin: 20px 0;
           text-transform: uppercase;
           &:before{
                   position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 4px;
                background: #f1992d;
                content: "";
             }
        }
        h4{
          font-family: $font-family-h;
          color: $third-color;
          margin-left: 40px;
          margin-bottom: 20px;
          /*margin-top: -20px;*/
          font-size: 30px;
          font-weight: bold;
        }
      }
      .details{
        h2{
          position: relative;
           padding-left: 15px;
           margin: 20px 0;
           text-transform: uppercase;
           /*font-size: 30px;*/
           &:before{
                   position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 4px;
                background: #f1992d;
                content: "";
             }

        }
        p{
          color: #6e6e6e;
          padding: 10px;
        }
      }
}  

/*subscrib*/

.subscrib{
  padding: 50px 0;
  padding-left: 0;
 background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5)), url("../img/p31.jpg") fixed center center;
     h2{
      color: #fff;
     }
      form{
        input,select{
          width: 100%;
          margin: 20px 0;
          height: 50px;
          background: linear-gradient(rgba( 0,0,0,.5   ), rgba(0,0,0,.5));          
          padding:0px 20px;
          color: #fff;
          font-size: 30px;
          &:focus{
             
             }
             option{
              background-color:transparent;
              color: black 
             }
        }
      }
      .photo{
        img{
          width: 350px;
          margin: auto;
          margin-top: 30%;
          /*margin-left: 20%;*/
        }
      }
}



/*all-coures*/
.all-coures{
  .coures-info{
      padding: 80px 0;
      .post{
        padding-bottom: 30px;
      }
      img{
        width: 300px;
        height: 230px;
      }
  }
}