.text-md-left {
    text-align: right !important;
  }
  .text-md-right {
    text-align: left !important;
  }
  .slider{
	.tabBooking{
		left: auto;
		right: 4.2%;
	}
}
.Testimonials { 
  h2{
  }
  .title-seperator{
  
  }
 .slide{
 
   .head{
    
      h2{
        
       }
     .title-seperator{
     
       }
      }
   .carousel-indicators{
    
   }   
  .carousel-inner{
   .carousel-item{
    
    .media{
     
     img{
     

     }
     .media-body{
     
      h5{
       text-align: right;
      }
      p{
        text-align: right;
      }
     }
    }
   }
  }
 
 }
}