.text-md-left {
    text-align: right !important;
  }
  .text-md-right {
    text-align: left !important;
  }
  .slider{
	.tabBooking{
		left: auto;
		right: 4.2%;
	}
}
/*.offset-md-2 {
    margin-right: 16.666667% !important;
}*/