.menu{
  position: relative;
.navbar{
  background:rgba(255,255,255,.6);		
  position: absolute;
  z-index:9999;
  left: 8%;
  width:84%; 
  }
 }
.intro{

 h2{
  position: absolute;
  left: 50%;
  top: 30%;
 }
 .Menu{
left: 50%;
bottom: 0;
 }
}