body{
	font-family: 'Slabo 27px', serif;

}




.top-bar{
	background-color: $main-color;
	padding: 7px 0 0px 0;
	overflow: hidden;
	position: relative;
	z-index: 9;
	ul{
		li{
			padding: 0 5px;
			a{
				color: #FFF;
				padding: 0px 6px;
				font-size: 14px;
				i{
					width: 30px;
					height: 30px;
					margin-right:10px;
					padding-top: 7px;
					background-color: #0088cc;
					text-align: center;
					
				}
			}
			&:last-child a{
				border-right: 0;
			}
		}
	}
	.list-inline-item:not(:last-child){
		margin-right: 2px;
	}
	.top-bar-right{
		ul{
			li{
				a{
					i{
					border: #fff;	
					background-color: $secondary-color;
					border-radius: 50%;
					}
				}
			}
		}
		
		}
		&:before{
			position: absolute;
			right: -100px;
			top: 0px;
			content: " ";
			width: 80%;
			height: 130%;
			background-color: $secondary-color;
			transform: skew(125deg);
			z-index: -9;

		}

	}

































































